- var highlight = theme.syntax_highlight ? theme.syntax_highlight : 'dracula';
- var favicon = theme.favicon;
- var xml = config.url + '/atom.xml';

meta(charset='UTF-8')
meta(name='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

title
    block site_title
        = config.title

block description
    meta(name='description', content= config.description ? config.description : 'A Blog Powered By Hexo')

if favicon
    link(rel='icon', href=url_for(favicon))

link(rel='stylesheet' href=`/css/highlights/${highlight}.css`)
link(rel='stylesheet', href=url_for('css/main.css'))

link(rel='search', type='application/opensearchdescription+xml', href=xml, title=config.title)
